html {
  color: #001f10;
  /*font-family : 'Lato', sans-serif;*/
  /*-webkit-transform: translateZ(0) !important;*/
  /*transform: translateZ(0) !important;*/
  /*transform: perspective(1px) scale(1.0)*/
  /*font-family: 'Inter', sans-serif !important;;*/

  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
  @media only screen and (max-width: 638px) {
    html {
      font-size: 0.85rem !important;
    }
  }
a {text-decoration: none;}

.grow, .grow2 {
  transition: all .2s ease-in-out;
}

body {
  /*background-color: #F8F8F8	;*/
  background-color: #eefef5	;
}

.grow:hover {
  transform: scale(0.95);
  cursor: pointer;
  box-shadow: 0px 0px 15px #001f10;
  /*box-shadow: 0px 0px 15px gold;*/
}
.cursor-pointer:hover {
  cursor: pointer;
}

.grow2:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 15px #001f10;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.q-field--outlined .q-field__control:before {
  border: 1px solid #001f10;
}

.vertical-align {
  position: relative !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.noPaddingRightAndLeft {
  padding-left: 0; padding-right:0;
}

/*te boczne menu item pod tytul*/
div.q-item__label.q-item__label--caption.text-caption {
  color: #404040;
  font-weight: normal;
}

/*te boczne menu pogrubione napisy*/
.main-side-menu div.q-item__label {
  color:  #001f10;
  font-weight: bold;
}

.apexcharts-tooltip {
  background: #eefef5;
  color: #001f10;
  border-radius: 0px !important;
  border: 1px solid #001f10;
}

.bigger-text {
  font-size: 1.05rem;
}

.q-field__label.no-pointer-events.absolute.ellipsis {
  padding-bottom: 0.8% !important;
}

.nocursor {
  cursor: default !important;
}

/*For stepper to be full width on mobile*/
.mobile-stepper-full .q-stepper__step-inner {
  width: 100% !important;
  padding: 5px;
}

/*For stepper to not have thin line in mobile*/
.mobile-stepper-full .row.flex-center::after{
  content: none !important;
}
